<!DOCTYPE html>
<html>
<head>
  <title>Byagu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <%= javascript_include_tag :defaults  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
